$blue-color: #0075ff;
$blue-alt-color: #0d69d5;
$orange-color: #f59e0f;
$green-color: #22c55e;
$red-color: #f44336;
$grey-color: #888;
/*start dashboard*/
.details {
  margin-bottom: 40px;
}
.image-avatar {
  position: relative;
  width: 45px;
  height: 45px;

  img {
    width: 95%;
    height: 95%;
    border: 3px solid white;
    position: absolute;
    &:hover {
      z-index: 1;
      cursor: pointer;
    }
  }
}

.user2 {
  left: 20px;
}
.user3 {
  left: 40px;
}
.user4 {
  left: 60px;
}
.user5 {
  left: 80px;
}
.skills {
  border-top: 1px solid #eee;
  padding: 20px 0;
  text-align: right;
  span {
    border-radius: 5px;
    @media (max-width: 700px) {
      display: block;
      width: fit-content;
      text-align: start;
      margin-top: 10px;
    }
  }
}
.details-progress {
  @media (max-width: 700px) {
    display: block;
    text-align: center;
  }
}
.bar,
.progress {
  border-radius: 15px;
}
.bar {
  width: 300px;
  height: 8px;
  position: relative;
  @media (max-width:700px)
    {
        margin:20px auto auto auto;
        width:200px;
    }
}
.progress {
  position: absolute;
  left: 0;
  height: 100%;
}
.progress-1 {
  width: 45%;
}
/*end dashboard*/
/*start academy portal*/
.progress-2 {
  width: 80%;
}
/*end academy portal*/
/*start Chatting Application*/
.progress-3 {
  width: 100%;
}
/*end Chatting Application*/
.progress-4 {
  width: 65%;
}
.progress-5 {
  width: 75%;
}
.progress-6 {
  width: 45%;
}
.progress-7 {
  width: 90%;
}
